WALLET_KEY=
ENVIRONMENT=
CONTRACT_OWNER=
CONTRACT_ADDRESS=
TIME_OUT=
TX_BASE_URL=
GAS_INCREASE_NUM=

#Quicknode
RPC_URL=
LAMBDA_TASK_ROOT=

#IPFS
IPFS_SERVICE_ENDPOINT=
IPFS_KEY=
IPFS_API_SECRET_KEY=
IPFS_BASE_URL=
